/*css tret de https://github.com/LFeh/piano/blob/master/dev/assets/css/style.css*/
body {
    background-image: url('../img/background/wBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piano {
    background: -webkit-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: -moz-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: -o-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    border-top: 2px solid #111;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.5), inset 0 -4px 5px #000000;
    padding: 0 1% 3%;
    text-align: center;
    border-radius: 10px;
    width: 90vw;
    height: auto;
    max-width: 1000px;
}

.key {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    width: 6%;
    max-width: 85px;
}

.key:active .black-key,
.key.active .black-key {
    top: -5px;
}

.key .white-key {
    background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: linear-gradient(-30deg, #f8f8f8, #ffffff);
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
    display: block;
    height: 300px;
}

.key .white-key:active,
.key .white-key.active {
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -5px;
    height: 295px;
}

.key .black-key {
    content: "";
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
    background: -moz-linear-gradient(-20deg, #222222, #000000, #222222);
    background: -o-linear-gradient(-20deg, #222222, #000000, #222222);
    background: linear-gradient(-20deg, #222222, #000000, #222222);
    border-width: 1px 3px 8px;
    border-style: solid;
    border-color: #666 #222 #111 #555;
    height: 160px;
    position: absolute;
    top: 0px;
    right: -40%;
    width: 70%;
    z-index: 10;
}

.key .black-key:active,
.key .black-key.active {
    border-bottom-width: 3px;
    top: 0;
}

button {
    color: white;
    background-color: rgb(210, 40, 40);
    height: 40px;
    border: none;
    box-shadow: 2px 2px 5px grey;
}

.buscadorContainer{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: auto;
    max-width: 1000px;
}

.buscador > button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > h1 {
        color: black;
        text-shadow: 
            -1px -1px 0 white,  
            1px -1px 0 white,  
            -1px 1px 0 white,    
            1px 1px 0 white;
}

.resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.canciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloCancion{
    margin-right: 15px;
}
.tituloCancion :nth-child(2){
    margin-top: -15px;
    color: red;
}